.services-container {
  background-image: url("./../../../images/services-bg-2-01.jpg");
  margin: 0 0 40px 0;
  padding: 80px 0;
}

.services-container .service-top {
  text-align: center;
  padding: 50px 0 30px 0;
}


.services-container .service-cart {
  text-align: center;
  margin: 20px 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.services-container .service-cart .service-detail-btn {
  border: none;
  outline: none;
  color: #1bbde4;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  background: rgba(128, 128, 128, 0.144);
}

